<label for="file">File:</label>
<input type="file" (change)="upload($event)" accept=".png,.jpg" />
<br>
<progress max="100" [value]="(uploadProgress | async)"></progress>
<section class="control-bar" *ngIf="uploadState | async; let state">
  <button (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
  <button (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
  <button (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
</section>
<br>
<br>
<div class="result" *ngIf="downloadURL | async; let uploadSrc">
  <a [href]="uploadSrc">Image link!</a>
  <br>
  <img [src]='uploadSrc' alt="uploadSrc" style="max-height: 300px;">
</div>